/*global*/
*{
    margin:0;
    padding:0;
}
body{
    font-family:arial;
}
a{
    text-decoration:none;
    color:black;
}
p{
    line-height:2;
}
img{
    max-width:100%;
}
h2,h3{
    margin-top:20px;
    margin-bottom:20px;
}
/*utilities*/
.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

/*header*/
.header-init{
    background-image:url(./img/header.jpg);
    background-size:cover;
    text-align:center;
    color:white;
    height:400px;
}
.header-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-family: 'Times New Roman', Times, serif;
    align-items:center;
}
.menu a{
    color:white;
    margin-right:30px;
}


/*main*/
.page-item{
    display:flex;
    flex-direction:column;
    font-size:12px;
    line-height:0;
    margin-right:10px;
    
}
.page-item img{
    width:40%;
}
.page-item p{
    line-height:1.2;
}
.page-container{
    display:flex;
    align-items:center;
}

/*house and penthouse section*/
.house-item{
    background-color:#dedede;
}
.house-item-img{
    /*width:100%;*/
}
.house-item-text{
    padding-left:10px;
}
.house-item-text p{
    line-height: 1.2;
    font-size:12px;
}
.nowrap{
    white-space: nowrap;
}
.btn-details{
    display:block;
    background-color:#c7660b;
    padding:10px;
    border-radius:5px;
    text-align:center;
}
.house-item-list{
    display:flex;
    justify-content:space-evenly;
    list-style:none;
}
.list-icon{
    display:flex;
    align-items: center;
    height:70px;
    width:70px;
    justify-content: space-between;
}
.house-container{
    display:flex;
    gap:10px;
}
/*footer*/